---
import Page from '../../layouts/Page.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';

const { tag } = Astro.params;
const { projects } = Astro.props;

export async function getStaticPaths() {
  const allProjects = await Astro.glob('../projects/**/*.mdx');

  const uniqueTags = [
    ...new Set<string>(
      allProjects
        .map((project) => project.frontmatter.tags)
        .flat()
        .filter((t) => t !== undefined)
    ),
  ];

  return uniqueTags.map((tag) => {
    if (typeof tag !== `string`)
      throw new Error(`tag is not a string?: ${tag}`);
    const filteredProjects = allProjects.filter((project) => {
      if (!project.frontmatter.tags) return false;
      return project.frontmatter.tags.includes(tag);
    });
    return {
      params: { tag },
      props: { projects: filteredProjects },
    };
  });
}
---

<Page title={'Tagged: ' + tag}>
  <a href="/tags/">All tags</a>
  {projects.map((project) => <ProjectPreview project={project} />)}
</Page>
