---
import Page from '../layouts/Page.astro';
---
<style>
  section {
    margin-top: 2em;
  }
</style>
<Page title="About Interaction Design at Malmö University">
  <p>We set ourselves apart from other digital-design related educations in three ways:</p>

  <section>
  <h3>1. Design of interaction</h3>
  <p>We understand interaction design as part of the tradition of design, with a focus on the design of interactivity - not just how an artefact looks or what it does, but how it responds and how it feels to use.</p>

  <p>Exploring and expressing interactivity requires technical skills. As such, you will have to opportunity to acquire and develop basic programming skills throughout the programme.</p>

  <p>We teach programming in a way that is relevant for interaction design and that any motivated student can learn. You will prototype interactive experiences across a range of devices and platforms, including for web and mobile.</p>

  <p>The products and services interaction designers create are not just software. We have a strong tradition and world-class facilities for working with physical formats, and you will learn techniques such as laser-cutting and 3D printing. Together with basic electronic skills and a microprocessor, you will be able to develop concepts related to the Internet of Things, wearables and other forms of smart products.</p>
  </section>

  <section>
  <h3>2. Responsible, sensitive design</h3>
  <p>To design is to make a change in the world; whether the designer intends to or not, their work has wider implications. Our education instills a responsible, sensitive design approach which takes issues of ethics and sustainability seriously, and focuses on design with human values in mind.</p>

  <p>Moreover, at Malmö University we have a strong tradition in participatory design approaches, designing not just for users but with users and other stakeholders. Interaction design can be done not just for commercial purposes but also to serve and challenge the pressing societal issues of our time.</p>
  </section>

  <section>
  <h3>3. Research-based teaching</h3>
  <p>At Malmö University, you will not only pick up the applied skills of an interaction designer - conducting fieldwork, programming, making mock-ups, creating concept videos, and so on - you will also engage with cutting-edge forms of interactivity and deep, theoretical perspectives on design and interaction.</p>

  <p>You will develop reflective, critical approaches, understanding not only how to create, but also when and why (or why not). This is particularly important in a technology-related field such as interaction design, where developments happen quickly and practitioners need to be able to make sense of new technologies and shifting practices.</p>
  </section>
</Page>