---
import Page from '../layouts/Page.astro';
---

<style>
  section {
    margin-top: 2em;
  }
</style>
<Page title="Collaborate">
  <p>
    We welcome collaboration from industry, government and NGOs. Collaboration
    examples include:
    <ul>
      <li>Guest seminars or workshops</li>
      <li>Project briefs</li>
      <li>Internships</li>
      <li>Thesis student hosting</li>
    </ul>
  </p>

  <p>
    Our students should have their internship in place by mid-May, so consider
    circulating offers or getting in touch as early as October the year before.
    Consider getting involved in the programme in other ways so students are
    aware of your organisation, its values, and the activities it is involved
    in.
  </p><p>
    Companies that have recently received interaction design interns include: ÅF
    Consult, Arduino, Axis, IKEA, inUse, Jayway, Massive Entertainment, Neo4j,
    TetraPak, Transformator Design, Tunstall and Visma.
  </p><p>
    Organisations are also welcome to offer summer internships outside of the
    formal internship programme.
  </p>
  <h3>Internships</h3>
  <p>A rough overview of the timing is as follows:</p>
  <ul>
    <li>
      Mid-January: we host information seminars about internships for students
    </li>
    <li>Mid-March: students apply for the internship course</li>
    <li>
      Mid-May: students have an reached an agreement with an organisation to
      host their internship, and submit the paperwork for approval by the
      university
    </li>
    <li>Internship: Early September - late January</li>
  </ul>
  <p>
    To share the word on your internship possibilities, please email the
    material <a href="mailto:k3student@mau.se">k3student@mau.se</a>, with
    'Interaction Design Internships' as the subject line.
  </p><p>
    <a
      href="https://student.mau.se/en/jobs-and-internships/internships/internship-course-for-bachelors-studies-at-k3/"
      >Read more about K3's internship programme and how to get involved.</a
    >
  </p>
  <h3>Thesis Project</h3>
  <p>
    It's quite common for thesis students to continue to be involved with an
    organisation as part of their thesis work. The organisation might offer a
    place to work from or access to people or special resources.
  </p>
  <p>
    In some cases the student might be designing for the organisation, as in
    identifying a possibility to improve the organisation itself. In other
    cases, the student might be involved with issues the organisation is
    involved in, such as product development or client projects.
  </p>
  <p>
    In contrast with the internship, the student must work in a more independent
    and scholarly manner - framing a problem and unpacking it in relation to
    literature and so on. It is not appropriate in a thesis project for an
    organisation to give a student a pre-made task to complete.
  </p>
  <p>Examples of industry-anchored thesis projects have included:</p>
  <ul>
    <li>
      Designing to support a firm's own designers to work with a new
      technological material
    </li>
    <li>
      Investigating opportunity for new interactive technology to improve
      customer experience
    </li>
    <li>
      Identifying a problem with an organisation's work practices and devising a
      way to improve it
    </li><li>
      Understanding how a firm's product is used and understood and identifying
      opportunities to improve it
    </li>
    <li>
      Speculative investigations of new forms of interactivity that relate to
      the organisation's interests
    </li>
  </ul>
</Page>
