<footer>
  <div class="container">
    <div class="wrapper">
      <div><a class="invis" href="#top">↑</a></div>
      <div>
        <a class="heroLink" href="/">Arkixd.</a>
        <a title="Projects from the programme" href="/projects">Projects</a>
        <a title="About the programme" href="/about">About</a>
        <a title="Collaborate with students and faculty" href="/collaborate"
          >Collaborate</a
        >
      </div>
    </div>
  </div>
</footer>

<style>
  footer a {
    margin-right: var(--padding);
  }
  .heroLink,
  .heroLink:visited,
  .heroLink:hover {
    font-size: 1em;
    font-weight: 700;
    color: var(--color-red);
  }
  .invis,
  .invis:visited,
  .invis:hover {
    color: var(--theme-text);
    text-decoration: none;
  }
</style>
