<footer class="wrapper">
  <div><a class="invis" href="#top">↑</a></div>
  <div><a class="heroLink" href="/">Arkixd.</a> <a href="/about">about</a></div>
</footer>

<style>

footer {
	margin-top: 8vh;
  margin-bottom: 4vh;
}
.heroLink,.heroLink:visited,.heroLink:hover {
	font-size: 1em;
	font-weight: 700;
	color: var(--color-red);
}
.invis,.invis:visited,.invis:hover {
  color: var(--theme-text);
  text-decoration: none;
}
</style>
