<nav class="wrapper">
	<a class="heroLink" href="/">Arkixd.</a>
</nav>

<style>
nav {
	margin-top: 4vh;
}
.heroLink,.heroLink:visited,.heroLink:hover {
	font-size: 1em;
	font-weight: 700;
	color: var(--color-red);
}
</style>
