<header class="wrapper">
  <a class="heroLink" href="/">Arkixd.</a>
  <a title="Projects from the programme" href="/projects">Projects</a>
  <a title="About the programme" href="/about">About</a>
  <a title="Collaborate with students and faculty" href="/collaborate"
    >Collaborate</a
  >
</header>

<style>
  header {
    margin-top: 4vh;
  }
  header a {
    margin-right: var(--padding);
  }
  .heroLink,
  .heroLink:visited,
  .heroLink:hover {
    font-size: 1em;
    font-weight: 700;
    color: var(--color-red);
  }
</style>
