---
import Page from '../../layouts/Page.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }) {
  // Import MD for all projects
  let allProjects = await getCollection('projects');

  const years = new Set();
  allProjects.forEach((p) => {
    let year = p.data.year;
    years.add(year.toString());
  });

  let yearsArray = Array.from(years);
  yearsArray = yearsArray.map((y) => ({
    params: { year: y },
  }));
  return yearsArray;
}

const { year } = Astro.params;

let allProjects = await getCollection('projects');
let projects = allProjects.filter((p) => p.data.year.toString() === year);
---

<Page title="Projects">
  <h1>{year}</h1>
  {projects.map((project) => <ProjectPreview project={project} />)}
</Page>
