---
import Page from './Page.astro';
import ExhibitionProject from '../components/ExhibitionProject.astro';

const content = Astro.props.content;
const {title, year, priorityMax} = content;

// Fetch all projects, filter to this course
let projects = await Astro.glob(`../pages/exhibitions/**/*.md`);

// Filter
projects = projects.filter(p => 
    !p.file.endsWith('index.md') && 
    p.frontmatter.course === content.course &&
    p.frontmatter.year == content.year);

if (priorityMax) {
  projects = projects.filter(p => p.frontmatter.priority <= priorityMax);
}

projects.sort((a,b) => {
  const aP = a.frontmatter.priority;
  const bP = b.frontmatter.priority;
  if (aP === bP) return 0;
  if (aP > bP) return 1;
  return -1;
});
---

<Page>
<main class="content">

  <div>{year}</div>
  <h1>{title}</h1>
  <section class="intro">
    <slot />
  </section>
  <section class="list" aria-label="Exhibition list">
    {projects.map(p=> <ExhibitionProject project={p} />)}
  </section>

  <style>
  .intro {
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--theme-divider);
  }

  .intro > * {
    margin: 0;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
  }
  .content {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .content :global(main > * + *) {
    margin-top: 1rem;
  }
  </style>
  </main>
</Page>
